@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-general: "Be Vietnam Pro", sans-serif;
// $light-mode-main: #333333;
// $light-mode-bg: #ffffff;


/* light mode */
$light-mode-main : #5A877D;
$light-mode-bg: #F6F6F6F6;
$light-mode-input: #FFFFFF;
$light-mode-border: #DDDDDD;

$light-mode-main-hover: #3e5953;

/* dark mode */
$dark-mode-main: #FFFFFF;
$dark-mode-bg: #2B2B2B;
$dark-mode-input: #3c3c3c;

* {
    box-sizing: border-box;
}

body {
    margin: 0px; // reset margin mặc định
    font-family: $font-general;
    background-color: #ddd;
}

// center: căn giữa element trong nó
.center {
    margin: 50px auto 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// hết center: căn giữa element trong nó

// sign-up, dùng chung cho login luôn nha
.sign-up {
    width: 50%;
    background-color: $light-mode-bg;
    display: flex;
    gap: 20px;
    border-radius: 8px;
    overflow: hidden;

    &__image {
        width: calc((100% / 2) - 10px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__main {
        padding: 20px;
        width: calc((100% / 2) - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $light-mode-bg;

    }

    &__title {
        margin: 0px; // reset margin mặc định của thẻ head
        margin-bottom: 10px;
        color: $light-mode-main;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-mode-border;
        margin-bottom: 20px;

        button[type="submit"] {
            border: 0px;
    
            background-color: #007AFF;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0px;
            margin-top: 10px;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: #135694;
            }
        }
    }

    &__form-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;

        label {
            color: $light-mode-main;
            font-size: 14px;
        }

        input {
            border: 0px;
            outline: none;
            
            background-color: $light-mode-input;
            color: $light-mode-main;
            height: 42px;
            padding: 0px 16px;
            border-radius: 6px;
        }
        
        [show-password] {
            cursor: pointer;
            position: absolute;
            top: 33px;
            right: 12px;

            color: $light-mode-main;
            font-size: 14px;
        }
    }

    &__form-link {
        display: flex;
        justify-content: end;

        a {
            text-decoration: none;
            font-size: 12px;

            &:hover {
                color: red;
            }
        }
    }

    &__google {
        border: 0px;

        display: block;
        width: 100%;
        background-color: #333333;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        padding: 10px 0px;
        border-radius: 6px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &:hover {
            background-color: #3d3c3c;
        }

        img {
            width: 20px;
            height: 20px;
        }

    }

    @media (max-width: 1199.98px) {
        
        &__image {
            width: 25%;
        }

        &__main {
            width: calc(75% - 20px);
        }
    }

    @media (max-width: 991.98px) {
        
        &__image {
            display: none;
        }

        &__main {
            width: 100%;
        }
    }
}
// hết sign-up

/* alert */
.alert {
    /* vị trí */
    position: fixed;
    top: 50px;
    right: 100px;

    /* thông báo đẩy */
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.alert__item {
    position: relative;
    display: inline-flex;
    width: 250px;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
}

.hideAlert {
    /* sử dụng keyframe animation */
    animation-name: alert-hidden;
    animation-duration: 0.5s; /** thời gian thực hiện */
    animation-fill-mode: both;
}
  
@keyframes alert-hidden {
    from {
      left: 0;
    }
    to {
      left: 200%;
      display: none;
    }
}

.alert__item [close-alert] {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 8px;
}

.alert--success {
    background-color: #D4EDDA;
    color: #275724;
}

.alert--error {
    background-color: #F8D7DA;
    color: #721C24;
}

.alert--warning {
    background-color: #FFF3CD;
    color: #906404;
}
/* hết alert */

/** todo app*/
.todo-app {
    width: 500px; /** độ rộng của cái form */
    margin: 50px auto 50px auto; /** auto căn giữa cái form */
    padding: 10px 20px; 
    background-color: $light-mode-bg;
    border: 1px solid $light-mode-border;
    border-radius: 8px;
}

body.dark .todo-app {
    width: 500px; /** độ rộng của cái form */
    margin: 50px auto 50px auto; /** auto căn giữa cái form */
    padding: 10px 20px; 
    background-color: $dark-mode-bg;
    border-radius: 8px;
}

.todo-app__title {
    color: $light-mode-main;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light-mode-border;
}

body.dark .todo-app__title {
    color: $dark-mode-main;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark-mode-input
}

.todo-app__create {
    display: flex;
    height: 42px;
    margin-bottom: 20px;
}

.todo-app__create input {
    flex: 1; /** chiếm trọn phần còn lại */
    background-color: $light-mode-input;
    border: 1px solid $light-mode-border;
    outline: none;
    height: 100%;
    padding: 0px 10px;
    border-radius: 8px 0px 0px 8px;
    color: #000000;
    font-size: 16px;
}

/* .todo-app__create input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
} */

body.dark .todo-app__create input {
    flex: 1; /** chiếm trọn phần còn lại */
    background-color: $dark-mode-input;
    border: 1px solid $dark-mode-input;
    outline: none;
    height: 100%;
    padding: 0px 10px;
    border-radius: 8px 0px 0px 8px;
    color: #FFFFFF;
    font-size: 16px;
    outline: none;
}

/* body.dark .todo-app__create input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 30px #3c3c3c inset !important;
}

body.dark .todo-app__create input:-webkit-autofill{
    font-size: 16px;
    -webkit-text-fill-color: white !important;
} */

.todo-app__create button {
    background-color: $light-mode-main;
    border: 0;
    width: 42px;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
}

.todo-app__create button:hover {
    background-color: $light-mode-main-hover;
    border: 0;
    width: 42px;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
}

body.dark .todo-app__create button {
    background-color: $dark-mode-main;
    border: 0;
    width: 42px;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
    cursor: pointer;
    color: #000000;
    font-size: 18px;
}

.todo-app__item {
    display: flex;
    align-items: center;
    color: black;
    background-color: $light-mode-input;
    padding: 0px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

body.dark .todo-app__item {
    display: flex;
    align-items: center;
    color: white;
    background-color: $dark-mode-input;
    padding: 0px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

body.dark .todo-app__item--finish, .todo-app__item--finish {
    background-color: #D8F0C1;
    color: #000000;
}

.todo-app__item-content {
    flex: 1;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.todo-app__item-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.todo-app__item-buton--complete {
    background-color: #198754;
    color: white;
}

.todo-app__item-buton--edit {
    background-color: #FFC107;
    color: white;
}

.todo-app__item-buton--delete {
    background-color: #DC3545;
    color: white;
}
/** hết todo app*/

// container
.container {
    width: 1140px;
    margin: 0px auto;
}
// hết container

// header
.header {
    background-color: $dark-mode-bg;
    padding: 20px 0px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo a {
        text-decoration: none;
        color: $dark-mode-main;
        font-size: 36px;
        font-weight: 700;
    }

    &__user {
        // display: none; // khi chưa đăng nhập sẽ ẩn cả khối này
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__user-email {
        color: $dark-mode-main;
        font-size: 13px;
        font-weight: 400;
    }

    &__user-logout {
        color: $dark-mode-main;
        border: 1px solid $dark-mode-main;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            color: $dark-mode-bg;
            background-color: $light-mode-border;
        }
    }
}
// hết header