@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* light mode */
/* dark mode */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #ddd;
}

.center {
  margin: 50px auto 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  width: 50%;
  background-color: rgba(246, 246, 246, 0.9647058824);
  display: flex;
  gap: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.sign-up__image {
  width: calc(50% - 10px);
}
.sign-up__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.sign-up__main {
  padding: 20px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(246, 246, 246, 0.9647058824);
}
.sign-up__title {
  margin: 0px;
  margin-bottom: 10px;
  color: #5A877D;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.sign-up__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
.sign-up__form button[type=submit] {
  border: 0px;
  background-color: #007AFF;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.sign-up__form button[type=submit]:hover {
  background-color: #135694;
}
.sign-up__form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.sign-up__form-item label {
  color: #5A877D;
  font-size: 14px;
}
.sign-up__form-item input {
  border: 0px;
  outline: none;
  background-color: #FFFFFF;
  color: #5A877D;
  height: 42px;
  padding: 0px 16px;
  border-radius: 6px;
}
.sign-up__form-item [show-password] {
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 12px;
  color: #5A877D;
  font-size: 14px;
}
.sign-up__form-link {
  display: flex;
  justify-content: end;
}
.sign-up__form-link a {
  text-decoration: none;
  font-size: 12px;
}
.sign-up__form-link a:hover {
  color: red;
}
.sign-up__google {
  border: 0px;
  display: block;
  width: 100%;
  background-color: #333333;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sign-up__google:hover {
  background-color: #3d3c3c;
}
.sign-up__google img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1199.98px) {
  .sign-up__image {
    width: 25%;
  }
  .sign-up__main {
    width: calc(75% - 20px);
  }
}
@media (max-width: 991.98px) {
  .sign-up__image {
    display: none;
  }
  .sign-up__main {
    width: 100%;
  }
}

/* alert */
.alert {
  /* vị trí */
  position: fixed;
  top: 50px;
  right: 100px;
  /* thông báo đẩy */
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.alert__item {
  position: relative;
  display: inline-flex;
  width: 250px;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.hideAlert {
  /* sử dụng keyframe animation */
  animation-name: alert-hidden;
  animation-duration: 0.5s; /** thời gian thực hiện */
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    left: 0;
  }
  to {
    left: 200%;
    display: none;
  }
}
.alert__item [close-alert] {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 8px;
}

.alert--success {
  background-color: #D4EDDA;
  color: #275724;
}

.alert--error {
  background-color: #F8D7DA;
  color: #721C24;
}

.alert--warning {
  background-color: #FFF3CD;
  color: #906404;
}

/* hết alert */
/** todo app*/
.todo-app {
  width: 500px; /** độ rộng của cái form */
  margin: 50px auto 50px auto; /** auto căn giữa cái form */
  padding: 10px 20px;
  background-color: rgba(246, 246, 246, 0.9647058824);
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}

body.dark .todo-app {
  width: 500px; /** độ rộng của cái form */
  margin: 50px auto 50px auto; /** auto căn giữa cái form */
  padding: 10px 20px;
  background-color: #2B2B2B;
  border-radius: 8px;
}

.todo-app__title {
  color: #5A877D;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}

body.dark .todo-app__title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #3c3c3c;
}

.todo-app__create {
  display: flex;
  height: 42px;
  margin-bottom: 20px;
}

.todo-app__create input {
  flex: 1; /** chiếm trọn phần còn lại */
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  outline: none;
  height: 100%;
  padding: 0px 10px;
  border-radius: 8px 0px 0px 8px;
  color: #000000;
  font-size: 16px;
}

/* .todo-app__create input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
} */
body.dark .todo-app__create input {
  flex: 1; /** chiếm trọn phần còn lại */
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  outline: none;
  height: 100%;
  padding: 0px 10px;
  border-radius: 8px 0px 0px 8px;
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
}

/* body.dark .todo-app__create input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 30px #3c3c3c inset !important;
}

body.dark .todo-app__create input:-webkit-autofill{
    font-size: 16px;
    -webkit-text-fill-color: white !important;
} */
.todo-app__create button {
  background-color: #5A877D;
  border: 0;
  width: 42px;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
}

.todo-app__create button:hover {
  background-color: #3e5953;
  border: 0;
  width: 42px;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
}

body.dark .todo-app__create button {
  background-color: #FFFFFF;
  border: 0;
  width: 42px;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 0px 8px 8px 0px; /** bo 2 góc phải trên phải dưới */
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}

.todo-app__item {
  display: flex;
  align-items: center;
  color: black;
  background-color: #FFFFFF;
  padding: 0px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

body.dark .todo-app__item {
  display: flex;
  align-items: center;
  color: white;
  background-color: #3c3c3c;
  padding: 0px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

body.dark .todo-app__item--finish, .todo-app__item--finish {
  background-color: #D8F0C1;
  color: #000000;
}

.todo-app__item-content {
  flex: 1;
  height: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.todo-app__item-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.todo-app__item-buton--complete {
  background-color: #198754;
  color: white;
}

.todo-app__item-buton--edit {
  background-color: #FFC107;
  color: white;
}

.todo-app__item-buton--delete {
  background-color: #DC3545;
  color: white;
}

/** hết todo app*/
.container {
  width: 1140px;
  margin: 0px auto;
}

.header {
  background-color: #2B2B2B;
  padding: 20px 0px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
}
.header__user {
  display: none;
  align-items: center;
  gap: 10px;
}
.header__user-email {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}
.header__user-logout {
  color: #FFFFFF;
  font-size: 14px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}
.header__user-logout:hover {
  color: #2B2B2B;
  background-color: #DDDDDD;
}

/*# sourceMappingURL=style.css.map */
